Ans1.

Encoding is a technique of converting categorical variables into numerical values so that it could be easily fitted to a machine learning model.It is useful to data scientist to train the models.

Ans2.

Nominal encoding is , When we have a feature where variables are just names and there is no order or rank to this variable's feature. 

For example: City of person lives in, Gender of person,etc.

Ans3.

Nominal encoding is preferred over one hot encoding as in one hot encoding sparse matrix is created .

For example: City of person lives in, Gender of person,etc.

Ans4.

One hot encoding should be used in the given situation , as it is used when there is greater than or equal to 5 unique categories .

Ans5.

2 more new columns would be created .

Ans6.

We would use nominal / one hot encoding in th given situation as the order is not the concern in the given situation.

In [10]:
import pandas as pd
df=pd.DataFrame({'animals':['deer','tiger','elephant'],
              'habitat':['Forest','Wild forest','Forest'],
              'diet':['grass','Meat','Banana']})

In [11]:
df

    animals      habitat    diet
0      deer       Forest   grass
1     tiger  Wild forest    Meat
2  elephant       Forest  Banana

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [4]:
encode=OneHotEncoder()

In [16]:
encode.fit_transform(df[['animals']],df[['habitat']]).toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

Ans7.