Ans.1

In [2]:
import pandas as pd
data=pd.Series([4, 8, 15, 16, 23,42])
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Ans.2

In [3]:
l=[67,54,34,90,7,32,10,32,22,654]
d=pd.Series(l)
print(d)

0     67
1     54
2     34
3     90
4      7
5     32
6     10
7     32
8     22
9    654
dtype: int64

Ans.3

In [6]:
dict1={'Name':['Alice','Bob','Claire'],
      'Age':[25,30,27],
      'Gender':['Female','Male','Female']}
d1=pd.DataFrame(dict1)
print(d1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Ans.4

 For a single-column DataFrame, an index can be optional, but a Series has to have an index defined.

Ans.5

In [8]:
d1["Age"].sum()

82

Ans6.

All data sturctures of pandas are mutable .

Ans7.